<form action="/tracker/calender" class="calender-period" method="POST">
  <div class="year-box">
    <button type="submit" class="btn-left-arrow"><i class="fas fa-chevron-left year-left-arrow"></i></button>
    <input type="number" name="year" value="{{year}}" class="year" readonly="readonly">
    <button type="submit" class="btn-right-arrow"><i class="fas fa-chevron-right year-right-arrow"></i></button>
  </div>
  <div class="month-box">
    <button type="submit" class="btn-left-arrow"><i class="fas fa-chevron-left month-left-arrow"></i></button>
    <input type="number" name="month" value="{{month}}" class="month" readonly="readonly">
    <button type="submit" class="btn-right-arrow"><i class="fas fa-chevron-right month-right-arrow"></i></button>
  </div>
</form>
<div class="calender-box">
  <ul class="weekday-title">
    <li class="weekday">Sunday</li>
    <li class="weekday">Monday</li>
    <li class="weekday">Tuesday</li>
    <li class="weekday">Wednesday</li>
    <li class="weekday">Thursday</li>
    <li class="weekday">Friday</li>
    <li class="weekday">Saturday</li>
  </ul>
  <ul class="daily-box">

  </ul>
</div>
