<div class="form-content">
  <div class="edit-column">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><span class="asterisk">*</span>名稱</div>
      </div>
      <input type="text" class="form-control" id="expense-title" name="name" maxlength="100" value="{{data.name}}" placeholder="expense title no longer than 100 characters" required>
    </div>
  </div>
  <div class="edit-column">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><span class="asterisk">*</span>日期</div>
      </div>
      <input type="date" class="form-control" id="expense-date" name="date" value="{{data.date}}" placeholder="費用發生時間" required>
    </div>
  </div>
  <div class="edit-column">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><span class="asterisk">*</span>類別</div>
      </div>
      <select class="custom-select" id="expense-category" name="category">
        <option selected>Choose...</option>
        <option value="1" {{#if (eq data.category 1)}} selected {{/if}}>家居物業</option>
        <option value="2" {{#if (eq data.category 2)}} selected {{/if}}>交通出行</option>
        <option value="3" {{#if (eq data.category 3)}} selected {{/if}}>休閒娛樂</option>
        <option value="4" {{#if (eq data.category 4)}} selected {{/if}}>餐飲食品</option>
        <option value="5" {{#if (eq data.category 5)}} selected {{/if}}>其他</option>
      </select>
    </div>
  </div>
  <div class="edit-column">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">商家</div>
      </div>
      <input type="text" class="form-control" id="expense-amount" name="merchant" value="{{data.merchant}}" placeholder="merchant" maxlength="120">
    </div>
  </div>
  <div class="edit-column">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><span class="asterisk">*</span>金額</div>
      </div>
      <input type="number" min="0" class="form-control" id="expense-amount" name="amount" value="{{data.amount}}" placeholder="expense" required>
    </div>
  </div>
</div>