<form class="search-bar-box" action="/tracker/search" method="POST">
  <div class="search-bar-input">
    <label for="#search-bar-filter" class="search-bar-input-label"><i class="fas fa-filter"></i></label>
    <div class="filter-terms">
      <select name="filter" id="search-bar-filter">
        <option value="1" {{#if (eq value 1 )}} selected {{/if}}>家居物業</option>
        <option value="2" {{#if (eq value 2 )}} selected {{/if}}>交通出行</option>
        <option value="3" {{#if (eq value 3 )}} selected {{/if}}>休閒娛樂</option>
        <option value="4" {{#if (eq value 4 )}} selected {{/if}}>餐飲食品</option>
        <option value="5" {{#if (eq value 5 )}} selected {{/if}}>其他</option>
      </select>
    </div>
  </div>
  <button type="submit" class="search-bar-button btn btn-info btn-sm">篩選</button>
</form>