<div class="edit">
  <div class="header">
    <h3 class="header-title">家庭記帳本</h3>
  </div>
  <div class="edit-body">
    <div class="edit-title">
      <h4 class="edit-titel-right">新增支出項目</h4>
      <span class="edit-title-left"><span class="asterisk">*</span>為必填欄位</span>
    </div>
    <form action="/tracker" method="POST" class="edit-form">
      {{>form}}
      <div class="edit-buttons">
        <button type="submit" class="edit-form-btn btn btn-danger">送出</button>
        <a href="/"><button type="button" class="edit-form-btn btn btn-primary">返回</button></a>
      </div>
    </form>
  </div>
</div>