<div class="main">
  <div class="header">
    <h3 class="header-title"><a href="/">家庭記帳本</a>
      <a href="/auth/logout" class="user-logout-link">登出
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </h3>
  </div>
  <div class="display-switch">
    <button type="button" class="pie-chart"><i class="fas fa-chart-pie"></i></button>
    <a href="/tracker/calender"><i class="far fa-calendar-check"></i></a>
  </div>
  <div class="major-content">
    <div class="search-bar">
      {{>searchBar}}
    </div>
    <div class="total">
      {{>totalBar}}
    </div>
    <div class="record-list">
      {{>expenseList}}
    </div>
    <div class="bottom">
      <a href="/tracker" class="add-new">新增一筆支出</a>
    </div>
  </div>
</div>