* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main.hbs */
.container {
  width: 85%;
  margin: 0 auto;
}

header, header h4 {
  width: 100%;
  background-color: darkslategray;
  text-align: center;
  color: aliceblue;
  font-weight: bolder;
}

header h4 {
  padding: 5px;
  margin-bottom: 0;
}

/* index.hbs */
.header-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  background-color: #f1f1f1;
}

.header a {
  width: 20%;
  color: chocolate;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
}

.header h3 {
  padding: 8px;
}

.display-switch {
  width: 100%;
  margin-bottom: 5px;
  text-align: end;
  font-size: 25px;
}

.pie-chart, .calender-icon {
  background: none;
  border: none;
  color: lightgrey;
}

.canvas-box {
  width: 60%;
  margin: 0 auto;
}

.bottom {
  font-size: 18px;
  text-align: center;
}

.bottom a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
  background-color: navy;
  border-radius: 4px;
  width: 15%;
  padding: 3px;
}

/* searchBar.hbs */
.search-bar-box {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-input {
  width: 25%;
  display: flex;
  align-items: center;
  color: chocolate;
}

.filter-terms {
  width: 85%;
  margin-left: 5px;
}

#search-bar-filter {
  width: 100%;
  border: 2px solid chocolate;
  border-radius: 5px;
  color: chocolate;
  outline: none;
}

.search-bar-box button {
  color: aliceblue;
  font-weight: bolder;
}

/* total.hbs */
.total-amount {
  text-align: center;
  font-size: 30px;
  color: chocolate;
  margin-bottom: 15px;
}

/* expenseList.hbs */
.record-list {
  width: 100%;
  padding-left: 24%;
  margin-bottom: 12px;
}

.total-lists {
  width: 100%;
  padding-right: 10%;
}

.total-lists .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.list-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 4px;
  color: chocolate;
  font-weight: bolder;
}

.list-details i {
  width: 36px;
  height: 32px;
  margin-right: 12px;
  font-size: 30px;
  color: #acdde7;
}

.list-name-date {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 0 ;
}

.list-title {
  font-size: 18px;
}

.list-date {
  font-size: 10px;
}

.list-edit .edit {
  text-decoration: none;
  color: aliceblue;
}

.list-button i {
  margin-right: 4px;
}

.list.a0 .list-details {
  background-color: #f7f7f7;
}

.list-merchant {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  font-size: 18px;
  color: teal;
  font-weight: bolder;
}

/* edit.hbs */
.edit-body {
  width: 50%;
  margin: 15px auto;
  color: #a4a4a4;
}

.edit-titel-right {
  text-align: center;
}

.asterisk {
  color: red;
  margin-right: 3px;
}

.edit-buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.edit-buttons button {
  margin: 0 10px;
}

.edit-buttons button a {
  text-decoration: none;
  color: aliceblue;
}

/* form.hbs */
.form-content .edit-column {
  margin-bottom: 25px;
}

.custom-select {
  border-color: #a4a4a4;
  width: 45%;
  border-radius: 5px;
}